*.err
*.out
data/*/*.jsonl
data/*/qrels
*__pycache__*
draft.ipynb
wandb
output
results
draft.py
scripts/*.sh
runai.sh
mgte
bge-m3
mmpnet-v2
udever-bloom-7B
Nv-emb
SFR-2R
mbge-gemma2
*.log
xlm-mistral-v0.3.v0
jina-v3
lusifer.mistral-v0.3
lusifer.nv_emb.v1.1
lusifer.nv_emb.v1.0
e5-mistral